services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    ports:
      - "65432:65432"

  client1:
    build:
      context: .
      dockerfile: Dockerfile.client
    environment:
      - SERVER_HOST=server
      - SERVER_PORT=65432
    depends_on:
      - server

  client2:
    build:
      context: .
      dockerfile: Dockerfile.client
    environment:
      - SERVER_HOST=server
      - SERVER_PORT=65432
    depends_on:
      - server